card{
    border:2px solid black;width:250px;
    border-radius: 15px;
    background-color: rgb(201, 193, 193);}img{
    height:150px;width:250px;
    border-radius: 15px 15px 0px 0px;}button{
    height:50px; width:100px;
    background-color: rgb(126, 214, 97);border-radius:15px;}
    p,button,h4{ margin:15px;
    }